/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}

.card-reveal{
width:100%;
}

.tabs li.tab a{
	color:#29b6f6;
}
.tabs .indicator{
	background-color:#29b6f6;
}

ul.tabs li.tab a:hover {
  color: #b3e5fc;
}


.error
{
	background:black !important;
	width:60%;
	border-top:solid #A8A8A8  20px;
	border-left: solid #A8A8A8 5px;
	border-right: solid #A8A8A8 5px;
	padding-bottom: 2%;
	top:20% !important;
}
/*
.error-left
{
	margin-top:15%;
	padding: 10px;
}
.white
{
	color:#fff;
}
.error-center
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:100px;
}
*/
.typed-cursor
{
	display:none;
}
#typed:after
{
 visibility: visible;
  content: '';
  background-color: #d4f8e3;
  display: inline-block;
  position: relative;
  width: 0.5em;
  height: 1em;
  top: 5px;
  margin-left: 0;
 
  }
  
  .back-color
  {
  
background: #cb60b3; /* Old browsers */
background: -moz-linear-gradient(top,  #cb60b3 7%, #ad1283 52%, #de47ac 88%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(7%,#cb60b3), color-stop(52%,#ad1283), color-stop(88%,#de47ac)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #cb60b3 7%,#ad1283 52%,#de47ac 88%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #cb60b3 7%,#ad1283 52%,#de47ac 88%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #cb60b3 7%,#ad1283 52%,#de47ac 88%); /* IE10+ */
background: linear-gradient(to bottom,  #cb60b3 7%,#ad1283 52%,#de47ac 88%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#de47ac',GradientType=0 ); /* IE6-9 */

 }
 
 .display-inline-li{
 display: inline;
list-style-type: none;
padding-right: 20px;
}