/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}

.card-reveal{
width:100%;
}

.tabs li.tab a{
	color:#29b6f6;
}
.tabs .indicator{
	background-color:#29b6f6;
}

ul.tabs li.tab a:hover {
  color: #b3e5fc;
}